.timeline {
  padding: calc(240px + var(--banner-height)) 0 160px 80px;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .timeline {
    padding: var(--space-6) var(--page-padding);
  }
}
